<div class="mt-4">
    <h3>Them role</h3>
    <form method="post" action="/roles/store">
        <div class="mb-3">
            <label for="name" class="form-label">Role name</label>
            <input type="text" class="form-control" id="name" name="role_name">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" >Them moi</button>
        </div>
    </form>
</div>