<div class="mt-4">
    <h3>Add user</h3>
    <form action="/user/add_user" id="form" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">User Name</label>        
            <input type="text" class="form-control" id="username" name="username" required>
            <div id="error_username">{{this.error}}</div>
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlSelect1">Role</label>
            <select class="form-control" id="exampleFormControlSelect1" name="id_role">
                {{#each roles}}
                    <option value="{{this.id_role}}">{{this.role_name}}</option>
                {{/each}}   
            </select>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary mb-3" action="check" >Add User</button>
        </div>
    </form>
</div>
<script>
    
</script>