<div class="mt-4">
    <h3>Danh sach tai khoan</h3>
    <div class="mr-auto">
        <a href="/user/create">Thêm tài khoản</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User Name</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody> 
            {{#each users}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td><a href="/">{{this.username}}</td>
                    <td>{{this.id_role}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    
</div>