<div class="mt-4">
    <h3>Danh sach tai khoan</h3>
    <div class="mr-auto">
        <a href="/user/create">Thêm tài khoản</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User Name</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody> 
                <tr>
                    <th scope="row">1</th>
                    <td><a href="/">197pm33529</td>
                    <td>33529</td>
                    <td>Sinh vien</td>
                </tr>
        </tbody>
    </table>
    
</div>