<div class="mt-4">
    <h3>Khoa hoc cua toi</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ten Khoa hoc</th>
                <th scope="col">Thoi gian</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
                        <a href="" class="btn btn-link">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>